:root {
    --title-color: rgba(0, 0, 0, 1);
    --input-color: rgba(0, 0, 0, 1);
    --error-color: rgba(250, 28, 28, 1);
    --accent-color: rgba(133, 63, 249, 1);
    --light-color: rgba(248, 249, 250, 1);
    --border-color: rgba(229, 229, 229, 1);
    --title-font-family: "Work Sans", Helvetica;
    --title-font-weight: 600;
    --title-font-size: 16px;
    --title-letter-spacing: 0px;
    --title-line-height: normal;
    --title-font-style: normal;
    --input-font-family: "Work Sans", Helvetica;
    --input-font-weight: 400;
    --input-font-size: 14px;
    --input-letter-spacing: 0px;
    --input-line-height: normal;
    --input-font-style: normal;
    --button-font-family: "Work Sans", Helvetica;
    --button-font-weight: 700;
    --button-font-size: 14px;
    --button-letter-spacing: 0px;
    --button-line-height: normal;
    --button-font-style: normal;
    --error-font-family: "Work Sans", Helvetica;
    --error-font-weight: 400;
    --error-font-size: 12px;
    --error-letter-spacing: 0px;
    --error-line-height: normal;
    --error-font-style: normal;
    --shadow-effect: 16px 16px 35px 0px rgba(0, 0, 0, 0.09);
  }
  